<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- Barra de navegación -->
    <%- include('../partials/nav') %>
    <main>
        <%- include('../partials/adminButton') %>
    </main>
    <!--Footer-->
    <%- include('../partials/footer') %>
    </body>

</html>