<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- Barra de navegación -->
    <%- include('../partials/nav') %>
    <main class="products">
        <%- include('../partials/adminButton') %>
        <table class="products__table">
            <tr class="products--title">
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <% products.forEach(product => { %>
                <tr class="products--item">
                    <td><%= product.name %> </td>
                    <td><%= product.description %> </td>
                    <td>$<%= product.price %> </td>
                    <td><a href="/productMod/<%= product.idProducts%>"><button class="edit--button">Editar</button></a> </td>
                    <td>
                    <form action="/productDelete/<%= product.idProducts %>?_method=DELETE" method="post">
                        <input class="delete--button" type="submit" value="Eliminar">
                    </form>
                    <!-- <td><a href="/deleteUser/<%= product.idProducts %> "><button>Eliminar</button></a> -->
                    </td>
                </tr>
            <% }) %>
        </table>
    </main>
    <!--Footer-->
    <%- include('../partials/footer') %>
    </body>

</html>