<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>
                <!-- Main Home -->
                <main class="productDetail">
                    <article class="products">
                        <div class="product-menu">
                            <img src="../img/Products/<%= products.productImage %>" alt="">
                            <div>
                                <div class="product-description">
                                    <h4 class="product-name">Burguer <%= products.name %></h4>
                                    <p class="product-specific"><%= products.description %></p>
                                </div>
                                <div class="product-n">
                                    <p class="product-price"><%= products.price %> </p>
                                    <p class="product-add"> <a href="/productCart"><i class="fas fa-shopping-cart"></i>Agregar</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>


                <!--Footer-->
                <%- include('../partials/footer') %>
    </body>

</html>