<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>
                <!-- Main Home -->
                <main class="productDetail">
                    <article class="products_det">
                        <div class="product-menu">
                            <img src="../img/Products/<%= product.fk_idImage_image.name %>" alt="">
                        </div>
                        <div class="product-menu_atributes">
                                <div class="product-description">
                                    <h4 class="product-name"><%= product.name %></h4>
                                    <p class="product-specific"><%= product.description %></p>
                                </div>
                                <div class="product-n">
                                    <p class="product-price">$ <%= product.price %> </p>
                                    <p class="product-price"><a id="<%=product.idProducts%>" href="/productCart">Agregar</a> </p>
                                    <% if(locals.isLogged==true && locals.userInSession.role==9) {%>
                                    <p class="product-price"> <a href="/productMod/<%= product.idProducts %>" > Modificar </a></p>
                                    <form action="/productDelete/<%= product.idProducts %>?_method=DELETE" method="post">
                                        <input class="delete--button" type="submit" value="Eliminar">
                                    </form>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        </div>
                    </article>
                </main>


                <!--Footer-->
                <%- include('../partials/footer') %>
                <script src="/js/productDetailAdd.js"></script>
    </body>

</html>