<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <!-- Barra de navegación -->
            <%- include('../partials/nav') %>

                <!--Main-->
                <main class="login">
                    <article>
                        <form class="login__form" action="/login" method="post">
                            <h2 class="login__title">Formulario de login</h2>
                            <div class="login__form">
                                <input
                                class="login__form--text <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                type="text"
                                name="email"
                                id="email"
                                placeholder="Correo"
                                value="<%= locals.oldData && oldData.email ? oldData.email : null %>">
                                <% if (locals.errors && errors.email) { %>
                                    <p class="danger">
                                        <%= errors.email.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            
                                <p class="email-error">
                                    
                                </p>
                            
                            <div class="login__form">
                                <input class="login__form--text" id ="password" type="password" name="password"
                                    placeholder="Contraseña">
                            </div>
                            <p class="password-error">
                                    
                            </p>
                            <div class="register__form">
                                <ul class="register__form--errors">

                                </ul>
                            </div>
                            <div class="login__form">
                                <input type="checkbox" name="remember">
                                <label for="remember">Recordar usuario</label>
                            </div>
                            <h4 class="login--recover">
                                <a href="#">
                                    ¿Olvidaste tu contraseña?
                                </a>
                            </h4>
                            <div class="login__form--button">
                                <input class="login--button" type="submit" value="Ingresar">
                                <a href="/register">
                                    <input class="login--button" type="button" value="Registrarse">
                                </a>
                            </div>
                            <% if (locals.errors && errors.auth) { %>
                                <p class="danger">      
                                    <%= errors.auth.msg %>
                                </p>
                                <% } %>
                        </form>
                    </article>
                </main>


                <!--Footer-->
                <%- include('../partials/footer') %>
                <script src="/js/validationLogin.js"></script>
    </body>

</html>