<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- Barra de navegación -->
    <%- include('../partials/nav') %>
    <main class="users">
        <table class="users__table">
            <tr class="users--title">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            <% users.forEach(user => { %>
                <tr class="users--item">
                    <td><%= user.name %> </td>
                    <td><%= user.lastname %> </td>
                    <td><%= user.email %> </td>
                    <td><a href="/editUser/<%= user.id%>"><button >Editar</button></a> </td>
                    <td>
                    <form action="/deleteUser/<%= user.id %>?_method=DELETE" method="post">
                        <input type="submit" value="Eliminar">                    
                    </form>
                    <!-- <td><a href="/deleteUser/<%= user.id %> "><button>Eliminar</button></a> -->
                    </td>
                </tr>
            <% }) %>            
        </table>
    </main>
    <!--Footer-->
    <%- include('../partials/footer') %>
    </body>

</html>